.wrapper {
    text-align: center;
}

.button {
    position: absolute;
}

div.plot {
    width: 600px;
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}